_DEV_FTP_ROOT_DIR=/ftp_root/SACERPING_SNAP
_DEV_QUARKUS_DATASOURCE_JDBC_URL=jdbc:oracle:thin:@URL:PORT/SERVICE
_DEV_QUARKUS_DATASOURCE_USERNAME=
_DEV_QUARKUS_DATASOURCE_PASSWORD=
_DEV_QUARKUS_ARTEMIS_URL=tcp://localhost:61616
_DEV_QUARKUS_ARTEMIS_USERNAME=artemis
_DEV_QUARKUS_ARTEMIS_PASSWORD=artemis
_DEV_ADMIN_PASSWORD=password
_DEV_XF-OBJECT_AWS_ACCESSKEYID=
_DEV_XF-OBJECT_AWS_SECRETKEY=
_DEV_SA-BKT-RWD_MINIO_ACCESSKEYID=
_DEV_SA-BKT-RWD_MINIO_SECRETKEY=
_DEV_SA-BKT-SACERPING-RWD_GCP_ACCESSKEYID=
_DEV_SA-BKT-SACERPING-RWD_GCP_SECRETKEY=
_DEV_REST-CLIENT_VERSAMENTO-SACER-CLIENT_URL=
_DEV_PARER_JMS_SOURCE-NODES-CONFIG_NODES_NODEONE_USER=
_DEV_PARER_JMS_SOURCE-NODES-CONFIG_NODES_NODEONE_PASSWORD=
_DEV_PARER_JMS_SOURCE-NODES-CONFIG_NODES_NODETWO_USER=
_DEV_PARER_JMS_SOURCE-NODES-CONFIG_NODES_NODETWO_PASSWORD=